.news {
    &-promo {
        position: relative;
        padding-top: 72px;
        min-height: 450px;
        background: url("../img/news/promo_bg.jpg") center center/cover no-repeat;
        &__header {
            font-weight: 800;
            font-size: 66px;
            line-height: 165.9%;
            color: #FFFFFF;
        }
        .language {
            top: 20px;
        }
    }
    &-state {
        padding: 93px 0 140px 0;
        &__header {
            font-weight: 800;
            font-size: 33px;
            max-width: 50%;
        }
        &__text {
            margin-top: 80px;
            color: #060606;
        }
        &__paragraph {
            font-weight: 300;
            font-size: 16px;
            line-height: 165.9%;
            span {
                font-weight: 700;
            }
            &_quote {
                margin: 40px 0;
                position: relative;
                padding-left: 40px;
                &:before {
                    content: '';
                    position: absolute;
                    height: 5px;
                    background-color: $main-color;
                    border-radius: 30px;
                    left: -25px;
                    top: 50%;
                    width: 56px;
                    transform: rotate(90deg) translateY(-50%);
                }
            }
        }
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 55px;
            .news-state__header {
                max-width: 100%;
            }
            .news-state__img_full {
                margin: 0;
            }
        }
        &__subheader {
            font-weight: 700;
            font-size: 16px;
            line-height: 165.9%;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        &__photo {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
        &__img {
            max-width: 100%;
            border-radius: 30px;
            &_full {
                margin-top: 30px;
                margin-bottom: 18px;
            }
        }
        &__links {
            margin-top: 80px;
            &__subheader {
                font-weight: 300;
                font-size: 24px;
                color: #8B8B8B;
                margin-bottom: 50px;
            }
        }
        &__link {
            display: flex;
            align-items: center;
            margin-bottom: 18px;
            width: 100%;
            min-height: 125px;
            padding: 0 75px;
            background: #F1F5F9;
            box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
            border-radius: 24px;
            font-weight: 800;
            font-size: 26px;
            line-height: 165.9%;
            color: #000000;
            transition: 0.3s all;
            &:hover {
                text-decoration: none;
                color: $main-color;
            }
        }
        &__imgwrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 18px;
            margin-bottom: 18px;
            .news-state__img_full {
                margin-top: 0;
                margin-bottom: 0;
                grid-column: 1/3;
            }
        }
        &__ref {
            display: grid;
            grid-template-columns: 565px auto;
            column-gap: 100px;
            margin-top: 60px;
            margin-bottom: 27px;
            &__card {
                .catalog__card {
                    padding-top: 1px;
                    &-img {
                        height: 300px;
                    }
                }
            }
            &__descr {
                font-weight: 800;
                font-size: 33px;
                line-height: 165.9%;
            }
        }
    }
}