@media (max-width: 1600px) {
    .news {
        &-promo {
            padding: 72px 60px 0 60px;
            &__header {
                font-size: 55px;
            }
        }
        &-state {
            padding: 50px 60px 130px 60px;
            &__text {
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: 1139.98px) {
    .news {
        &-promo {
            min-height: 350px;
            padding-top: 60px;
            &__header {
                font-size: 45px;
            }
        }
        &-state {
            &__header {
                font-size: 24px;
                max-width: 70%;
            }
            &__links {
                &__subheader {
                    font-size: 20px;
                }
            }
            &__link {
                padding: 0 50px;
                font-size: 22px;
                min-height: 100px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .news {
        &-promo {
            min-height: 300px;
            padding-top: 40px;
        }
        &-state {
            &__links {
                &__subheader {
                    margin-bottom: 40px;
                }
            }
            &__link {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .news {
        &-promo {
            padding-left: 50px;
            min-height: 250px;
            &__header {
                font-size: 40px;
            }
        }
        &-state {
            padding: 50px 50px 80px 50px;
            &__header {
                max-width: 100%;
            }
            &__text {
                margin-top: 50px;
            }
            &__paragraph, &__subheader {
                font-size: 14px;
            }
            &__links {
                margin-top: 60px;
            }
            &__link {
                padding: 0 30px;
                font-size: 16px;
                min-height: 80px;
            }
        }
    }
    .footer {
        &_news {
            .footer__social__link {
                &:hover {
                    background-color: #fff;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .news {
        &-promo {
            background-image: url('../img/news/promo_bg_mobile.jpg');
            padding-left: 20px;
            min-height: 160px;
            padding-top: 105px;
            &__header {
                text-transform: uppercase;
                font-size: 21px;
            }
        }
        &-state {
            padding: 20px 20px 40px 20px;
            &__header, &__subheader, &__paragraph {
                font-size: 12px;
            }
            &__text {
                margin-top: 20px;
            }
            &__subheader {
                margin-top: 30px;
                margin-bottom: 20px;
            }
            &__photo {
                margin-top: 10px;
                border-radius: 16px;
            }
            &__links {
                margin-top: 15px;
                &__subheader {
                    font-size: 12px;
                    margin-bottom: 16px;
                }
            }
            &__link {
                min-height: 56px;
                box-shadow: 1.76px 1.76px 3.52px #C9D9E8, -1.76px -1.76px 3.52px #FFFFFF;
                border-radius: 5.28px;
                margin-bottom: 5px;
                padding: 0 16px;
                font-weight: 600;
                font-size: 12px;
            }
        }
    }
}