@mixin a_reset {
    color: #000000;
    text-decoration: none;
    &:hover {
        color: #000000;
        text-decoration: none;
    }
}

@mixin btn_animation {
    transition: 0.3s all;
    &:hover {
        transform: scale(1.03);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }
}

@mixin btn_animation_off {
    &:hover {
        transform: scale(1);
        box-shadow: none;
    }
}