@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';
@import 'libs/nouislider';

@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';

* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    &_fluid {
        max-width: none;
        width: 100%;
        margin: 0;
    }
}


@import 'blocks/menu';
@import 'blocks/footer';
@import 'blocks/pageup';
@import 'blocks/titles';



@import 'blocks/index/promo';
@import 'blocks/index/advantages';
@import 'blocks/index/steps';
@import 'blocks/index/suggestions';
@import 'blocks/index/team';
@import 'blocks/index/jumbo';
@import 'blocks/index/news';
@import 'blocks/index/youtube';
@import 'blocks/index/questions';


@import 'blocks/catalog/catalog';
@import 'blocks/catalog/sliders';

@import 'base/media_index';