.advantages {
    padding-top: 172px;
    min-height: 752px;
    background-color: #F1F5F9;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__header {
        font-weight: 800;
        font-size: 42px;
        line-height: 165.9%;
        span {
            color: $main-color;
        }
        margin-bottom: 41px;
    }
    &__divider {
        width: 41px;
        height: 5px;
        border-radius: 3px;
        background-color: $main-color;
        margin-bottom: 112px;
    }
    &__list {
        display: grid;
        grid-template-columns: 45px 350px; 
        grid-template-rows: repeat(3, minmax(55px, auto));
        grid-auto-rows: 55px;
        row-gap: 60px;
        column-gap: 60px;
        align-items: center;
    }
    &__icon {
        display: flex;
        width: 45px;
        height: 45px;
        justify-content: center;
        align-items: center;
        background: #F1F5F9;
        box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
        border-radius: 13px;
    }
    &__item {
        font-weight: 700;
        font-size: 18px;
        line-height: 165.9%;
    }
    &__img {
        img {
            border-radius: 34px;
            width: 675px;
            height: 529px;
            object-fit: cover;
        }
    }
}