.footer {
    position: relative;
    z-index: 10;
    background-color: #fff;
    min-height: 376px;
    padding: 87px 0 160px 0;
    a {
        @include a_reset;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__subheader {
        font-weight: 800;
        font-size: 32px;
        margin-bottom: 20px;
    }
    &__contacts {
        &__tel {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 20px;
        }
        &__mail {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 20px;
        }
        a {
            transition: 0.3s all;
            &:hover {
                color: $main-color;
            }
        }
    }
    &__social {
        &__links {
            display: flex;
        }
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            height: 50px;       
            background: #F1F5F9;
            border-radius: 23px;
            margin-right: 5px;
            transition: 0.3s all;
            svg {
                width: 30px;
                height: 30px;
                flex-shrink: 0;
                path {
                    transition: 0.3s all;
                }
            }
            &:hover {
                background-color: $main-color;
                svg path, svg circle{
                    fill: #fff;
                }
            }
        }
    }
    &__logo {
        position: relative;
        transform: scale(0.7);
        &__img {
            position: absolute;
            top: -30px;
            left: 94px;
            img {
                width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
    }
    &_news {
        background-color: #F1F5F9;
        .footer__social__link {
            background-color: #fff;
            &:hover {
                background-color: $main-color;
            }
        }
    }
    &__design {
        font-weight: 300;
        font-size: 18px;
        line-height: 37px;
        color: #757575;
        opacity: 0.89;
        a {
            color: #757575;
            display: block;
            &:hover {
                text-decoration: none;
            }
        }
    }
}