.footer {
    position: relative;
    z-index: 10;
    background-color: #fff;
    min-height: 376px;
    padding: 87px 0 160px 0;
    a {
        @include a_reset;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__subheader {
        font-weight: 800;
        font-size: 33px;
        margin-bottom: 26px;
    }
    &__contacts {
        &__tel {
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 20px;
        }
        &__mail {
            font-weight: 700;
            font-size: 14px;
        }
        a {
            transition: 0.3s all;
            &:hover {
                color: $main-color;
            }
        }
    }
    &__social {
        &__link {
            margin-right: 30px;
            img {
                transition: 0.3s all;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
    &__logo {
        position: relative;
        transform: scale(0.7);
        &__img {
            position: absolute;
            top: -30px;
            left: 94px;
            img {
                width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
    }
    &_news {
        background-color: #F1F5F9;
    }
}