.advantages {
    padding-top: 150px;
    min-height: 752px;
    background-color: #F1F5F9;
    position: relative;
    .link {
        position: absolute;
        top: 100px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 50px;
    }
    &__header {
        text-align: left;
        margin-bottom: 41px;
    }
    &__divider {
        width: 41px;
        height: 5px;
        border-radius: 3px;
        background-color: $main-color;
        margin-bottom: 112px;
    }
    &__item {
        display: grid;
        grid-template-columns: 45px 350px; 
        grid-template-rows: minmax(55px, auto);
        column-gap: 60px;
        align-items: center;
        margin-top: 62px;
        transition: 0.3s all;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__icon {
        display: flex;
        width: 45px;
        height: 45px;
        justify-content: center;
        align-items: center;
        background: #F1F5F9;
        box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
        border-radius: 13px;
    }
    &__descr {
        cursor: default;
        font-weight: 700;
        font-size: 18px;
        line-height: 165.9%;
    }
    &__img {
        height: 530px;
        img {
            border-radius: 34px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}