.promo {
    min-height: 100vh;
    background: url("../img/home/promo/promo_bg.jpg") center (center/cover) no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__wrapper {
        position: relative;
        z-index: 3;
    }
    &__logo {
        margin-bottom: 30px;
    }
    &__divider {
        margin: 0 auto;
        width: 60px;
        height: 5px;
        background-color: #3563E9;
        border-radius: 2px;
        margin-bottom: 30px;
    }
    &__header {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: #FFFFFF;
        line-height: 165.9%;
    }
    &__search {
        width: 1200px;
        height: 130px;
        position: absolute;
        z-index: 5;
        left: 50%;
        transform: translateX(-50%);
        bottom: -50px;
        background: #FFFFFF;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        display: grid;
        grid-template-columns: 180px 90px 50px 273px;
        justify-content: space-between;
        padding: 12px 12px 12px 102px;
        align-items: center;
        &__divider {
            display: none;
            width: 285px;
            height: 1px;
            background-color: #F3F8FF;
        }
        &__dropdown {
            position: relative;
        }
        &__select {
            font-weight: 700;
            font-size: 21px;
            line-height: 165.9%;
            position: relative;
            max-width: 164px;
            cursor: pointer;
            transition: 0.3s all;
            &:before {
                content: url("../icons/home/promo/arrow-down.svg");
                display: block;
                position: absolute;
                right: -30px;
                top: 3px;
            }
            &:hover {
                color: $main-color;
            }
        }
        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 273px;
            height: 106px;
            background: #3563E9;
            border-radius: 21px;
            font-weight: 700;
            font-size: 21px;
            color: #fff;
            position: relative;
            cursor: pointer;
            line-height: 165.9%;
            @include btn_animation;
        }
    }
    &__circle {
        display: none;
        position: absolute;
        top: -100px;
        left: 50%;
        z-index: 2;
        width: 320px;
        height: 350px;
        background: #FFFFFF;
        filter: blur(50px);
        border-radius: 219px;
        transform: rotate(-0.02deg) translateX(-50%);
    }
}

.dropdown {
    &__list {
        display: none;
        position: absolute;
        left: -10px;
        background: #FFFFFF;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 20px;
        z-index: 10;
        max-height: 215px;
        overflow: hidden auto;
        transition: 0.3s all;
        &::-webkit-scrollbar {
            width: 10px;
            border-radius: 20px;
        }   
        &::-webkit-scrollbar-thumb {
            background: $main-color;
            border-radius: 20px;
        }
    }
    &__item {
        cursor: pointer;
        text-align: left;
        font-weight: 700;
        font-size: 21px;
        line-height: 150%;
        transition: 0.3s all;
        &:hover {
            color: $main-color;
        }
    }
    &__divider {
        width: 100%;
        height: 1px;
        margin: 3px 0;
        background-color: #dedddd;
    }
}

.language {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 5px;
    top: 36px;
    left: 117px;
    width: 111px;
    height: 44px;
    z-index: 10;
    background: #FFFFFF;
    border-radius: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &__choice {
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 35px;
        border-radius: 40px;
        transition: 0.3s all;
        text-decoration: none;
        color: #000000;
        &:hover {
            text-decoration: none;
            color: #1476FF;
        }
    }
    &__selected {
        &_ru {
            background: linear-gradient(270deg, #C9D9E8 -2.46%, rgba(201, 217, 232, 0) 74.59%);
            color: #1476FF;
        }
        &_en {
            background: linear-gradient(-270deg, #C9D9E8 -2.46%, rgba(201, 217, 232, 0) 74.59%);
            color: #1476FF;
        }
    }
}
