.steps {
    padding-top: 93px;
    background-color: #F1F5F9;
    position: relative;
    &__subheader {
        font-weight: 600;
        font-size: 16px;
        line-height: 165.9%;
        text-align: center;
        color: $main-color;
        margin-bottom: 13px;
    }
    &__wrapper {
        padding-top: 72px;
        display: grid;
        grid-template-columns: repeat(2, 313px);
        justify-content: center;
        justify-items: center;
        column-gap: 28px;
        &_3 {
            grid-template-columns: repeat(3, 313px);
            .steps__item {
                &:nth-child(2) {
                    &:before {
                        content: url("../icons/home/steps/up_dash.svg");
                        display: block;
                        position: absolute;
                        right: -100px;
                        top: 50px;
                    }
                }
            }
        }
    }
    &__item {
        position: relative;
        &__img {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 93px;
            height: 93px;
            background: #F1F5F9;
            box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
            border-radius: 24px;
        }
        &__descr {
            max-width: 300px;
            min-height: 140px;
            margin-top: 66px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__subheader {
            font-weight: 700;
            font-size: 21px;
            line-height: 139.4%;
            text-align: center;
        }
        &__text {
            font-weight: 600;
            font-size: 16px;
            line-height: 160.4%;
            text-align: center;
            color: #727272;
        }
        &:nth-child(1) {
            &:before {
                content: url("../icons/home/steps/down_dash.svg");
                display: block;
                position: absolute;
                right: -100px;
                top: 10px;
            }
        }
    }
    &__help {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 66px;
        width: 900px;
        min-height: 164px;
        box-shadow: -1px -1px 0px #FFFFFF, -2px -2px 2px #B8CCE0, inset -1px -1px 0px #FFFFFF, inset -2px -2px 2px #B8CCE0;
        border-radius: 32px;
        &__info {
            width: 808px;
            min-height: 102px;
            box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
            border-radius: 24px;
            padding: 19px 0;
        }
        &__subheader {
            font-weight: 700;
            font-size: 21px;
            text-align: center;
        }
        &__text {
            font-weight: 600;
            font-size: 16px;
            line-height: 160.4%;
            text-align: center;
            color: #727272;
            margin-top: 5px;
        }
    }
}