.suggestions {
    min-height: 784px;
    padding-top: 95px;
    background: url("../img/auto/auto_bg.png") center center/cover no-repeat;
    background-color: #F1F5F9;
    &__wrapper {
        margin-top: 43px;
        display: flex;
        justify-content: space-around;
    }
    &__card {
        width: 584px;
        height: 332px;
        border-radius: 13px;
        padding: 32px 0 52px 32px;
        position: relative;
        transition: 0.3s all;
        &:hover {
            transform: scale(1.05);
        }
        &__subheader {
            font-weight: 600;
            font-size: 42px;
            color: #FFFFFF;
        }
        &__descr {
            font-weight: 500;
            font-size: 21px;
            line-height: 160%;
            color: #FFFFFF;
            margin-top: 18px;
        }
        &__btn {
            display: block;
            z-index: 2;
            margin-top: 70px;
            width: 239px;
            height: 52px;
            padding: 10px;
            background: #3563E9;
            border-radius: 5.33333px;
            font-weight: 600;
            font-size: 21.3333px;
            color: #FFFFFF;
            text-align: center;
            cursor: pointer;
            @include btn_animation;
            text-decoration: none;
            &_bu {
                background-color: #5CAFFC;
            }
            &:hover {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
        &__img {
            transform: scale(0.9);
            position: absolute;
            bottom: -17%;
            left: 37%;
        }
        &_new {
            background: url("../img/auto/blue_bg.png") center no-repeat;
            background-color: #5CAFFC;  
        }
        &_bu {
            background: url("../img/auto/grey_bg.png") center no-repeat;
            background-color: #3563E9;
        }
    }
}