.team {
    padding: 68px 0 82px 0;
    position: relative;
    background-color: #F1F5F9;
    &__details {
        &__header {
            margin-bottom: 46px;
        }
        &__descr {
            text-align: center;
            font-weight: 300;
            font-size: 23px;
            line-height: 165.9%;
            margin-bottom: 40px;
        }
    }
    &__members {
        &__subheader {
            font-weight: 300;
            font-size: 24px;
            line-height: 165.9%;
            text-align: center;
            color: #8B8B8B;
        }
    }
    &__member {
        transition: 0.3s all;
        &__name {
            margin-top: 27px;
            font-weight: 600;
            font-size: 24px;
            line-height: 143.9%;
        }
        &__descr {
            font-weight: 600;
            font-size: 24px;
            line-height: 143.9%;
            color: #ACACAC;
        }
        &__img {
            img {
                border-radius: 17px;
                width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &__list {
        margin: 40px 0 30px 0;
        display: grid;
        grid-template-columns: repeat(4, 279px);
        grid-template-rows: minmax(333px, auto);
        grid-auto-rows: minmax(333px, auto);
        column-gap: 21px;
        row-gap: 30px;
        justify-content: center;
    }
    &__video {
        margin: 70px 0;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 16/9;
        /* No clicking/hover effects */
        pointer-events: none;
        iframe {
            border: 0;
            /* Extend it beyond the viewport... */
            width: 300%;
            height: 100%;
            /* ...and bring it back again */
            margin-left: -100%;
        }
    }
    &__address {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 760px;
        min-height: 273px;
        background-color: #F1F5F9;
        box-shadow: -1px -1px 0px #FFFFFF, -2px -2px 2px #B8CCE0, inset -1px -1px 0px #FFFFFF, inset -2px -2px 2px #B8CCE0;
        border-radius: 32px;
        &__wrapper {
            display: flex;
            align-items: center;
            width: 682px;
            min-height: 207px;
            box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
            border-radius: 24px;
            padding: 32px 65px 32px 80px;
            &_leftbg {
                background: url("../img/home/team/address_left_bg.png") left (center/contain) no-repeat;
            }
            &_eng {
                padding: 32px 65px 32px 132px;
            }
            background-color: #f1f5f9;
        }
        &__subheader {
            font-weight: 700;
            font-size: 24px;
            line-height: 155.9%;
            color: #000000;
            margin-bottom: 16px;
        }
        &__route {
            font-weight: 600;
            font-size: 16px;
            color: #727272;
        }
        &__icons {
            align-self: flex-start;
            display: flex;
            align-items: center;
            position: relative;
            &:before {
                content: url("../icons/home/team/lines.png");
                position: absolute;
                bottom: -65px;
                left: -115px;
            }    
        }
        &__icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 84px;
            background: #F1F5F9;
            box-shadow: inset 8px 5px 28px -11px rgba(0, 0, 0, 0.25);
            border-radius: 24px;
            margin-left: 27px;
            transition: 0.3s all;
            &__descr {
                font-weight: 400;
                font-size: 11px;
                line-height: 155.9%;
                color: #000000;
            }
            &:hover {
                text-decoration: none;
                color: #000000;
                transform: scale(1.05);
            }
        }
        &__img {
            max-width: 100%;
            max-height: 70%;
            object-fit: contain;
        }
    }
}