.youtube {
    background-color: #F1F5F9;
    &__img {
        margin: 0 auto;
        width: 297px;
        height: 127px;
        img {
            max-height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__header {
        text-align: center;
        margin-top: 47px;
        font-weight: 800;
        font-size: 33px;
    }
    &__video {
        width: 100%;
        padding: 0 20px;
        margin-top: 45px;
        aspect-ratio: 16/9;
        iframe {
            border-radius: 33px;
            height: 100%;
            aspect-ratio: 16/9;
        }
    }
}