.filter {
    &-slider {
        max-width: 396px;
    }
}

.noUi {
    &-horizontal {
        height: 16px;
        .noUi-handle {
            width: 30px;
            height: 30px;
            top: -7px;
            border-radius: 100%;
            border: 6px solid #fff;
            background-color: $main-color;
            box-shadow: none;
            cursor: pointer;
            &:before, &:after {
                display: none;
            }
        }
    }
    &-target {
        background-color: #C3D4E9;
        border: none;
        border-radius: 16px;
        box-shadow: none;
    }
    &-connect {
        background-color: $main-color;
    }
    &-connects {
        border-radius: 16px;
    }
}
